// Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    .col-md-7
      h1 Computer not working?
      p
        | Is your computer slow?  Call us for a quote.
      p
        a.btn.btn-primary.btn-lg(href='/services', role='button') Learn more >>
    .col-md-5
      img(src='./images/mouse.png')